@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Space Grotesk", sans-serif;
  background: #fff;
  color: #111;
  /* scroll-behavior: smooth;
  scroll-padding-top: 3rem; */
  /* account for fixed navbar height */
}

@layer utilities {

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
  
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(250%)
    }
  }
}